* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h2 {
    font-size: 18px;
}

p {
    font-size: 14px;
    padding: 5px 0;
}

#one {
    color: green;
    border: 2px solid green;
    padding: 20px 10px;
    margin-top: 10px;
}

#two {
    color: red;
    border: 2px solid red;
    padding: 20px 10px;
    margin-top: 10px;
}

#three {
    color: blue;
    border: 2px solid blue;
    padding: 20px 10px;
    margin-top: 10px;
}